<div class="product-card-action">
  <img src="img/product-image.jpg"
      class="product-card__image"
      alt="Product Image">

  <button class="product-card__button" {{action "addToCart"}}>Comprar</button>
</div>

<p class="product-card__title">{{product.title}}</p>

<span class="product-card__separator"></span>

<p class="product-card__price">
  <span class="product-card__currency">{{product.currencyFormat}}</span>
  <span class="product-card__value">{{price}}</span>
</p>

<span class="product-card__installments">{{installments}}</span>
